<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Alex Chin</h1>
 <p>My name is Alex Chin. I'm 20 years old and was born in Kigston, Jamaica. I am a computer science major, doing my second year at UWI.  
    I enjoy playing Badminton, cooking, watching TV shows and spending time with friends and family. I'm intersted in Web Development because I'll learn skills that will be useful in my future profession.</p>
</body>
</html>
